<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Ejercicio 2</title>
</head>
<body>
  <div class="container">
    <h1>Ejercicio 2</h1>
    <div class="data-container">
      <h2>index</h2>
      <p>Datos del alumno:</p>
      <p>Alumno: <%= alumno.nombre %></p>
      <p>Grupo: <%= alumno.grupo %></p>
      <p>Cuatrimestre: <%= alumno.cuatrimestre %></p>
      <a href="/formulario">Enviar datos</a>
    </div>
  </div>
</body>
</html>